.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-navbar {
    background-color: var(--sl-brand);
}

    .app-navbar ::deep .nav-link.active {
        color: #fff;
        font-weight: 600;
    }

.page-content {
    flex: 1;
}
